@using NewsAPI.Models;
@model ArticlesResult
<link rel="stylesheet" href="~/css/Articles.css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="row">
        @if(Model.Articles != null)
        {
            foreach(var article in Model.Articles)
            {
                <div class="column">
                    @Html.Partial("_Article", article)
                </div>
            }
        } 
        else
        {
            <h1 class="display-4">Error</h1>
            <p>There are currently no news about this topic.</p>
        }
    </div>
</div>
